
@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>CategoryList</h2>
<p>Kategori listesi bu alanda listelenecektir.</p>
<p>12 Aralık 2024 tarihinde bu sayfada test yapılmaktadır.</p>
